<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quantity On-Hand</title>
    <link rel="stylesheet" href="/css/styles.css" media="screen">
</head>

<body>

    <header class="add_inventory_header">
        <h1>Pharmacy Inventory Management System</h1>
        <nav class="add_inventory_nav">
            <a href="/">Home</a>
            <a href="/add-inventory">Add New</a>
            <a href="/update-inventory">Update</a>
            <a href="/inventory-usage">Log Usage</a>
            <a href="/incoming-inventory">Incoming</a>
            <a href="/reports">Reports</a>
        </nav>
    </header>

    <main>

        <% if (messages.success) { %>
            <!-- Display success messages if any -->
            <div class="alert alert-success">
                <%= messages.success %>
            </div>
            <% } %>

                <% if (messages.error) { %>
                    <!-- Display error messages if any -->
                    <div class="alert alert-danger">
                        <%= messages.error %>
                    </div>
                    <% } %>

                        <form class="all-forms" action="/on-hand-result" method="post">

                            <h1>Quantity On Hand</h1>

                            <input type="hidden" name="reportType" value="on-hand-result">
                            <button class="generate-button" type="submit">Generate Report</button>

                        </form>


                        <!-- Display the report results if available -->
                        <% if (typeof reportResults !=='undefined' && reportResults) { %>
                            <h3>Report Results For</h3>
                            <h3 class="schedule-heading">Schedule <%= control_class %> Medications</h3>

                            <!-- Add this dropdown above the table -->
                            <div class="sort-container">
                                <label for="sortOption">Sort By:</label>
                                <select id="sortOption" onchange="sortTable()">
                                    <option value="medication_name">Medication Z-A</option>
                                    <option value="current_inventory">Quantity On-Hand (High to Low)</option>
                                    <option value="control_class">Class</option>
                                </select>
                            </div>

                            <!-- Display the total uses for each med in a table -->
                            <table>
                                <thead>
                                    <tr>
                                        <th onclick="sortTable('medication_name')">Medication</th>
                                        <th onclick="sortTable('medication_strength')">Strength</th>
                                        <th onclick="sortTable('control_class')">Class</th>
                                        <th onclick="sortTable('current_inventory')">Quantity On-Hand</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% reportResults.forEach(result=> { %>
                                        <tr>
                                            <td data-key="medication_name">
                                                <%= result.medication_name %>
                                            </td>
                                            <td data-key="medication_strength">
                                                <%= result.medication_strength %>
                                            </td>
                                            <td data-key="control_class">
                                                <%= result.control_class %>
                                            <td data-key="current_inventory">
                                                <%= result.current_inventory %>
                                            </td>
                                        </tr>
                                        <% }); %>
                                </tbody>
                            </table>

                            <a href="/reports"><button>Back To Reports</button></a>
                            <script>
                                document.addEventListener('DOMContentLoaded', function () {
                                    // Add event listener to the dropdown
                                    const sortDropdown = document.getElementById('sortOption');
                                    sortDropdown.addEventListener('change', function () {
                                        sortTable(this.value);
                                    });
                                });

                                function sortTable(sortBy) {
                                    const table = document.querySelector('table');
                                    const tbody = table.querySelector('tbody');
                                    const rows = Array.from(tbody.querySelectorAll('tr'));

                                    // Custom sorting function for numeric values
                                    const numericSort = (a, b) => {
                                        const numA = parseFloat(a);
                                        const numB = parseFloat(b);
                                        return numA - numB;
                                    };

                                    // Sort the rows based on the selected column in descending order
                                    rows.sort((a, b) => {
                                        const aValue = getValue(a, sortBy);
                                        const bValue = getValue(b, sortBy);
                                        return sortBy === 'current_inventory'
                                            ? numericSort(aValue, bValue)
                                            : bValue.localeCompare(aValue);
                                    });

                                    // Remove existing rows from the table
                                    rows.forEach(row => tbody.removeChild(row));

                                    // Append the sorted rows back to the table
                                    rows.forEach(row => tbody.appendChild(row));
                                }

                                function getValue(row, key) {
                                    const cell = row.querySelector(`td[data-key="${key}"]`);
                                    return cell ? cell.textContent.trim() : '';
                                }
                            </script>


                            <% } %>

    </main>

</body>

</html>