<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search By Medication Report</title>
    <link rel="stylesheet" href="/css/styles.css" media="screen">
    <script>
        function updateForm() {
            const selectElement = document.getElementById("medication_select");
            const selectedMedicationId = selectElement.value;
            const selectedMedName = selectElement.options[selectElement.selectedIndex].getAttribute('data-name');
            const selectedMedStrength = selectElement.options[selectElement.selectedIndex].getAttribute('data-strength');
            const selectedMedClass = selectElement.options[selectElement.selectedIndex].getAttribute('data-class');
            const selectedMedInv = selectElement.options[selectElement.selectedIndex].getAttribute('data-current_inv');
            const selectedMedThreshold = selectElement.options[selectElement.selectedIndex].getAttribute('data-threshold');
            const selectedMedUsed = selectElement.options[selectElement.selectedIndex].getAttribute('data-used');
            const selectedMedUnit = selectElement.options[selectElement.selectedIndex].getAttribute('data-unit');

            // Update other elements on the page with the selected information
            document.getElementById("medication_id").value = selectedMedicationId;
            document.getElementById("medication_name").value = selectedMedName;
            document.getElementById("medication_strength").value = selectedMedStrength;
            document.getElementById("control_class").value = selectedMedClass;
            document.getElementById("current_inventory").value = selectedMedInv;
            document.getElementById("unit").value = selectedMedUnit;
            document.getElementById("threshold").value = selectedMedThreshold;
            document.getElementById("last_used").value = selectedMedUsed;

            // Enable the submit button
            document.getElementById("updateSubmitButton").disabled = false;
        }

        function searchMedications() {
            const searchTerm = document.getElementById("medication_search").value;
            window.location.href = `/update-inventory?medication_search=${searchTerm}`;
        }
    </script>
</head>

<body>

    <header class="add_inventory_header">
        <h1>Pharmacy Inventory Management System</h1>
        <nav class="add_inventory_nav">
            <a href="/">Home</a>
            <a href="/add-inventory">Add New</a>
            <a href="/update-inventory">Update</a>
            <a href="/inventory-usage">Log Usage</a>
            <a href="/incoming-inventory">Incoming</a>
            <a href="/reports">Reports</a>
        </nav>
    </header>

    <main class="update_inventory_main">


        <% if (messages.success) { %>
            <div class="alert alert-success">
                <%= messages.success %>
            </div>
            <% } %>

                <% if (messages.error) { %>
                    <div class="alert alert-danger">
                        <%= messages.error %>
                    </div>
                    <% } %>

                        <!-- Search Form -->
                        <form class="all-forms" action="/update-inventory" method="get" id="updateSearchForm">
                            <h1>Search Inventory</h1>

                            <label class="search_label" for="medication_search">Search Medication:</label>
                            <div class="usage-search-container">
                                <input type="text" id="medication_search" name="medication_search"
                                    placeholder="Type medication name">
                                <button class="usage-page-search" type="button"
                                    onclick="searchMedications()">Search</button>
                            </div>

                            <!-- Display matching medications as options -->
                            <div class="med-dropdown">
                                <p class="note">** Select From Matching Medications **</p>
                                <p class="note">** in Dropdown Menu Below **</p>
                                <select id="medication_select" name="medication_id">
                                    <% medications.forEach((medication)=> { %>
                                        <option value="<%= medication.medication_id %>"
                                            data-name="<%= medication.medication_name %>"
                                            data-strength="<%= medication.medication_strength %>"
                                            data-class="<%= medication.control_class %>"
                                            data-current_inv="<%= medication.current_inventory %>"
                                            data-threshold="<%= medication.threshold %>"
                                            data-used="<%= medication.last_used %>" data-unit="<%= medication.unit %>">
                                            <%= medication.medication_name %>
                                                <%= medication.medication_strength %> (inv:<%= medication.current_inventory %>)
                                        </option>
                                        <% }); %>
                                </select>
                            </div>
                            <button type="button" onclick="updateForm()">View Med Info</button>
                        </form>


                        <!-- Update Form -->
                        <form class="all-forms" action="/update-inventory" method="post" id="updateForm">
                            <h2>Update Medication Information</h2>

                            <label for="medication_name">Medication Name:</label>
                            <input type="text" id="medication_name" name="medication_name" required>

                            <label for="medication_strength">Strength:</label>
                            <input type="text" id="medication_strength" name="medication_strength" required>

                            <label for="control_class">Control Class:</label>
                            <input type="text" id="control_class" name="control_class" required>

                            <label for="current_inventory">Current Inventory:</label>
                            <input type="text" id="current_inventory" name="current_inventory" required>

                            <label class="add_unit" for="unit">Unit:</label>
                            <input type="text" id="unit" name="unit" required>

                            <label class="add_threshold" for="threshold">Threshold:</label>
                            <input type="text" id="threshold" name="threshold" required>

                            <label class="add_last" for="last_used">Last Used:</label>
                            <input type="text" id="last_used" name="last_used">

                            <input type="hidden" id="medication_id" name="medication_id">
                            <button type="submit" id="updateSubmitButton" disabled>Update Medication</button>

                        </form>
    </main>

</body>

</html>